/* Special Transition Styles */
.tree li a {
    position: relative;
    transition: color 0.3s, background-color 0.3s;
}

.tree li a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background: #007acc;
    left: 0;
    bottom: -5px;
    transition: width 0.3s;
}

.tree li a:hover::after {
    width: 100%;
}
